#include "Window.h"

MYICON ICON MyIcon.ico //MyIcon.ico naavachi maajhi file asun hila me icon naavachyaa resource madhe convert karat asun tyaa resource la me naav det ahe MYICON asa right to left waachaecha he
